.dbSidebar {
    background: var(--primary);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2rem;
    position: fixed;
    width: 210px;
    top: 3.5rem;
    left: 0;
    overflow-x: hidden;
}

.dbSidebar ul li {
    list-style: none;
    font-size: 14px;
    margin: 2.5rem 0;
}

.dbSidebar ul li a {
    text-decoration: none;
    color: #f6f6f6;
}

.dbSidebar ul li a:hover {
    color: var(--tertiary);
}

.icon {
    font-size: 16px;
}

@media screen and (max-width: 960px){
    .dbSidebar {        
        display: none;
    }
}