.about {
    margin-top: 4rem;
}

.aboutFlexed {
    display: flex;
    padding: 6rem;
}

.aboutFlexed1 {
    flex: 4;
}

.aboutFlexed2 {
    flex: 5;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    text-align: center;
}

.aboutFlexed2 h2 {
    font-size: 2.3rem;
    color: var(--tertiary);
}

@media screen and (max-width: 960px) {
    .aboutFlexed {
        display: block;
        padding: 6rem 2rem;
    }

    .aboutFlexed1 p {
        font-size: 13px;
    }

    .aboutFlexed2 {
        padding-top: 3rem;
        display: block;        
        text-align: left;
    }

    .aboutFlexed2 p {
        font-size: 14px;
    }
}