.about {
    margin-top: 4rem;
}

.aboutFlexed {
    display: flex;
    justify-content: ;
    padding: 4rem;
}

.aboutFlexed1 {
    flex: 4;
}

.aboutFlexed2 {
    flex: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.aboutFlexed2 h2 {
    font-size: 2.3rem;
    color: var(--tertiary);
}