.dbnav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    background: var(--primary);
    padding-left: 138px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.dbnav a {
    color: #f6f6f6;
    text-decoration: none;
}

.dbnav a:hover {
    cursor: pointer;
}

.dbProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.dbID {
    padding-right: 10px;
}

.dbProfile form input {
    border: none;
    border-bottom: 2px solid #334;
    background: none;
    outline: transparent;
    color: #f6f6f6;
    padding: 0 5px 0 0;
}