@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;900&display=swap');

:root {
  --primary: #1f2b36;
  --secondary: #861a1a;
  --tertiary: #a01d1d;
  --bg: #17181d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  line-height: 1.6;
  background: var(--bg);
  color: #f6f6f6;
  font-family: 'Montserrat', sans-serif;
}

.homepage {
  background: url('./assets/bg.png') no-repeat center center/cover;
  height: 100vh;
}



