.how {
    margin-top: 7rem;
    margin-bottom: 4rem;
}

.howtitle {
    text-align: center;
}

.howtitle p { 
    font-size: 12px;
    color: var(--tertiary);
}

.howtitle h1 {
    font-size: 2.5rem;
}

.howGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 14rem;
    grid-gap: 4rem;
}

.howGrid .gridBox {
    text-align: center;
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1rem;
}

.howGrid .gridBox:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.howGrid .gridBox p {
    color: #efefef;
    opacity: 0.8;
    font-size: 14px;
}

@media screen and (max-width: 960px) {
    .howtitle h1 {
        font-size: 1.5rem;
    }

    .howGrid {
        display: block;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem 2rem;
        grid-gap: 4rem;
    }

    .howGrid .gridBox p {        
        font-size: 12px;
    }

    .howGrid .gridBox {
        margin-bottom: 2.3rem;
    }
}